*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
.container{
    height:100vh;
    width:100vw;
    background-color: #fff;
    display:grid;
    grid-template-columns: 3fr 7fr;
}
.form{
    background-color: #ededed;
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    padding: 20px;
}
.form>input,.form>select,.form>button{
  padding:10px;
  border: none;
  border-radius:10px;
}
.table{
    
    width:100%;
    padding: 20px 10px;
    border-collapse: collapse;
}
.table,th,td{
    border:1px solid #ededed;
    padding: 5px 10px;
}
form:valid>button{
background-color: grey;
color:black;
}
form>button:hover{
    cursor: pointer;
}